/* Font Inter Import */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --background: #30336b;
  --foreground: #ffffff;
  --primary-color: #0abde3;
  --dark: #141414;
  --gray: #d9d9d9;
  --font-family: "Inter", sans-serif;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.section {
  padding: 100px 0;
}

.column-form {
  display: flex;
  flex-direction: column;
}

.column-form form {
  width: 100%;
}

.form-group {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 10px;
}

.form-group input,
.form-group textarea,
.form-group select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group textarea {
  height: 100px;
  resize: vertical;
}

.column-form button[type="submit"] {
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: var(--foreground);
  font-weight: 700;
  font-size: 18px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.column-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.column-content ul {
  padding: 15px;
}

.column-content li {
  margin-bottom: 10px;
}

@media screen and (max-width: 480px) {
  .column-form,
  .column-content {
    align-items: center;
  }
}
