.mision {
  padding: 100px 0;
}

.double-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.column1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.column1 img {
  width: 100%;
  height: auto;
}

.column2 {
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  text-align: right;
}

@media screen and (max-width: 480px) {
  .double-grid {
    grid-template-columns: 1fr;
  }
}
